Repository BAMWelDX/weldx, pull requests merged in 2020-07, with the labels that each got.

#56 Enhance CSM get_local_coordinate_system
  .github/workflows/static_analysis.yml
  tests/test_transformations.py
  weldx/__init__.py
  weldx/transformations.py
Labels: transformations

#57 skip slow tests by default
  .github/workflows/pytest.yml
  .github/workflows/static_analysis.yml
  .typo-ci.yml
  setup.cfg
  tests/conftest.py
Labels: CI

#58 support scipy Rotation object as input for LCS orientation
  weldx/transformations.py
Labels: transformations

#55 42 shape validation
  .deepsource.toml
  CHANGELOG.md
  scripts/validate_shapes.py
  tests/test_asdf.py
  tests/test_transformations.py
  weldx/__init__.py
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_shape_validator-1.0.0.yaml
  weldx/asdf/tags/weldx/__init__.py
  weldx/asdf/tags/weldx/core/__init__.py
  weldx/asdf/tags/weldx/core/transformations/coordinate_system_hierarchy.py
  weldx/asdf/tags/weldx/debug/test_shape_validator.py
  weldx/asdf/validators.py
  weldx/transformations.py
Labels: ASDF

#69 add LCS as_rotation and as_euler functions
  weldx/transformations.py
Labels: transformations

#67 15 lcs and csm enhancements
  tests/test_asdf.py
  tests/test_transformations.py
  tutorials/transformations_01_coordinate_systems.ipynb
  weldx/asdf/tags/weldx/core/iso_groove.py
  weldx/asdf/tags/weldx/unit/pint_quantity.py
  weldx/transformations.py
Labels: transformations

#71 Tutorial csm
  tutorials/transformations_01_coordinate_systems.ipynb
  tutorials/transformations_02_coordinate_system_manager.ipynb
  weldx/transformations.py
Labels: documentation, transformations

#72 66 property tag validator
  CHANGELOG.md
  tests/asdf_tests/test_validators.py
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_property_tag-1.0.0.yaml
  weldx/asdf/tags/weldx/debug/__init__.py
  weldx/asdf/tags/weldx/debug/test_property_tag.py
  weldx/asdf/validators.py
Labels: ASDF

#74 62 rework lcs schema
  tests/asdf_tests/test_core.py
  tests/test_asdf.py
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/local_coordinate_system-1.0.0.yaml
  weldx/asdf/tags/weldx/core/transformations/local_coordinate_system.py
  weldx/asdf/validators.py
  weldx/transformations.py
Labels: ASDF, transformations

#78 77 add single number shape validation
  tests/asdf_tests/test_validators.py
  tests/test_asdf.py
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_shape_validator-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_unit_validator-1.0.0.yaml
  weldx/asdf/tags/weldx/debug/__init__.py
  weldx/asdf/tags/weldx/debug/test_shape_validator.py
  weldx/asdf/tags/weldx/debug/test_unit_validator.py
  weldx/asdf/validators.py
Labels: ASDF

#83 update environment & dependency versions to asdf 2.7
  CHANGELOG.md
  environment.yml
  setup.py
  tests/test_asdf.py
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/design/weld_details-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/iso_groove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/error-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/datetimeindex-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/timedeltaindex-1.0.0.yaml
  weldx/transformations.py
Labels: ASDF

#82 raise ValidationError when validating against non existing key
  tests/asdf_tests/test_validators.py
  weldx/asdf/validators.py
Labels: ASDF, bug

#84 Update isort to 5.1
  .github/workflows/static_analysis.yml
  setup.cfg
  tests/test_asdf.py
  weldx/__init__.py
Labels: CI

#79 add WXRotation class and ASDF schema
  CHANGELOG.md
  tests/test_asdf.py
  tests/test_visualization.py
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/rotation-1.0.0.yaml
  weldx/asdf/tags/weldx/core/transformations/__init__.py
  weldx/asdf/tags/weldx/core/transformations/rotation.py
  weldx/asdf/utils.py
  weldx/transformations.py
Labels: ASDF

#85 implement shape validation on TimedeltaIndex without stored values
  tests/asdf_tests/test_core.py
  weldx/asdf/validators.py
Labels: ASDF

#87 Test refactor
  CHANGELOG.md
  setup.cfg
  tests/asdf_tests/test_core.py
  tests/asdf_tests/test_groove.py
  tests/asdf_tests/test_validators.py
  tests/asdf_tests/utility.py
  tests/test_geometry.py
  tests/test_measurement.py
  weldx/asdf/utils.py
  weldx/transformations.py
Labels: tests

#90 reorganized asdf tests
  tests/asdf_tests/test_asdf_aws_schema.py
  tests/asdf_tests/test_asdf_core.py
  tests/asdf_tests/test_asdf_groove.py
  tests/asdf_tests/test_asdf_jinja_template.py
  tests/asdf_tests/test_asdf_time.py
  tests/asdf_tests/test_asdf_validators.py
  tests/test_asdf.py
Labels: tests
