Repository BAMWelDX/weldx, pull requests merged in 2021-10, with the labels that each got.

#573 format rst files with `rstfmt`
  CHANGELOG.rst
  README.rst
  doc/api.rst
  doc/index.rst
  doc/install.rst
  doc/legal-notice.rst
  doc/schemas/aws.rst
  doc/schemas/core.rst
  doc/schemas/datamodels.rst
  doc/schemas/equipment.rst
  doc/schemas/generic.rst
  doc/schemas/groove.rst
  doc/schemas/measurement.rst
  doc/schemas/process.rst
  doc/schemas/time.rst
  doc/standard.rst
  doc/standard/shape-validation.rst
  doc/standard/unit-validation.rst
  doc/standard/validators.rst
  doc/standard/welding-processes.rst
  doc/tutorials.rst
Labels: documentation, no-changelog-entry-needed

#576 Add `WeldxFile.info`
  CHANGELOG.rst
  weldx/asdf/file.py
Labels: file

#578 Update single-pass weld schema
  CHANGELOG.rst
  weldx/asdf/cli/welding_schema.py
  weldx/schemas/weldx.bam.de/weldx/datamodels/single_pass_weld-0.1.0.yaml
  weldx/tests/test_utility.py
Labels: ASDF
