Repository BAMWelDX/weldx, pull requests merged in 2021-02, with the labels that each got.

#234 add PointCloud and simple geometry triangulation
  CHANGELOG.md
  doc/schemas/core.rst
  tests/asdf_tests/test_asdf_core.py
  tests/test_core.py
  weldx/__init__.py
  weldx/asdf/schemas/weldx.bam.de/weldx/core/geometry/point_cloud-1.0.0.yaml
  weldx/asdf/tags/weldx/core/__init__.py
  weldx/asdf/tags/weldx/core/geometry/__init__.py
  weldx/asdf/tags/weldx/core/geometry/point_cloud.py
  weldx/geometry.py
  weldx/utility.py
Labels: geometry

#236 add asdf_json_repr function
  doc/conf.py
  weldx/asdf/utils.py
Labels: no-changelog-entry-needed

#237 Format markdown files
  .github/pull_request_template.md
  CHANGELOG.md
  README.md
  doc/legal-notice.md
  doc/shape-validation.md
  doc/unit-validation.md
  doc/validators.md
  doc/welding-processes.md
Labels: no-changelog-entry-needed

#238 Use mamba
  .appveyor.yml
  .github/workflows/build.yml
  .travis.yml
  conda.recipe/build_env.yml
Labels: CI, no-changelog-entry-needed

#244 Csm constructor
  weldx/transformations.py
Labels: no-changelog-entry-needed, transformations

#243 only squeeze last axis in ut.mat_vec_mul
  .github/workflows/pytest.yml
  .github/workflows/static_analysis.yml
  CHANGELOG.md
  tests/test_transformations.py
  weldx/utility.py
Labels: bug, xarray
