Repository BAMWelDX/weldx, pull requests merged in 2021-12, with the labels that each got.

#656 use numpy typing for ArrayLike
  .github/workflows/build_pkg.yml
  .github/workflows/docs.yml
  CHANGELOG.rst
  doc/nitpick_ignore
  setup.cfg
  weldx/geometry.py
  weldx/transformations/rotation.py
  weldx/transformations/types.py
  weldx/types.py
  weldx/util/xarray.py
Labels: documentation, dependencies

#655 update spatial data schema
  CHANGELOG.rst
  devtools/scripts/update_manifest.py
  weldx/asdf/constants.py
  weldx/asdf/util.py
  weldx/manifests/weldx-0.1.1.yaml
  weldx/schemas/weldx.bam.de/weldx/core/geometry/spatial_data-0.1.1.yaml
  weldx/tags/core/data_array.py
  weldx/tags/core/geometry/spatial_data.py
  weldx/tests/asdf_tests/test_asdf_core.py
Labels: ASDF, validation

#668 asdf 2.8.2 fixes
  CHANGELOG.rst
  setup.cfg
  weldx/tags/core/data_array.py
  weldx/tags/core/time_series.py
  weldx/tests/asdf_tests/test_asdf_core.py
Labels: ASDF, dependencies

#670 wx_property_tag list
  CHANGELOG.rst
  weldx/asdf/validators.py
  weldx/schemas/weldx.bam.de/weldx/debug/test_property_tag-0.1.0.yaml
  weldx/tags/debug/test_property_tag.py
Labels: ASDF, validation

#669 add flake8 plugins to pre-commit
  .pre-commit-config.yaml
  setup.cfg
  setup.py
  weldx/asdf/cli/welding_schema.py
  weldx/asdf/types.py
  weldx/constants.py
  weldx/geometry.py
  weldx/tags/core/mathematical_expression.py
  weldx/tags/core/time_series.py
  weldx/tags/core/transformations/rotation.py
  weldx/tests/_helpers.py
  weldx/tests/asdf_tests/test_asdf_core.py
  weldx/tests/asdf_tests/test_asdf_graph.py
  weldx/tests/asdf_tests/test_asdf_types.py
  weldx/tests/asdf_tests/test_weldx_file.py
  weldx/tests/test_config.py
  weldx/tests/test_time.py
  weldx/tests/test_utility.py
  weldx/time.py
  weldx/transformations/rotation.py
  weldx/welding/groove/iso_9692_1.py
  weldx/welding/util.py
Labels: no-changelog-entry-needed

#555 New tutorials
  CHANGELOG.rst
  doc/conf.py
  doc/tutorials.rst
  tutorials/.gitignore
  tutorials/01_01_introduction.ipynb
  tutorials/01_02_time_dependent_data.ipynb
  tutorials/quality_standards.ipynb
  tutorials/util.py
  weldx/tests/asdf_tests/test_asdf_groove.py
Labels: documentation

#673 set meshio<5.2 for sphinx builds
  .github/workflows/docs.yml
  doc/rtd_environment.yml
Labels: documentation, CI, no-changelog-entry-needed, dependencies

#618 Add `GenericSeries`
  CHANGELOG.rst
  doc/tutorials.rst
  setup.cfg
  tutorials/generic_series.ipynb
  weldx/__init__.py
  weldx/constants.py
  weldx/core.py
  weldx/manifests/weldx-0.1.1.yaml
  weldx/schemas/weldx.bam.de/weldx/core/generic_series-0.1.0.yaml
  weldx/schemas/weldx.bam.de/weldx/core/generic_series_free_dimension-0.1.0.yaml
  weldx/tags/core/__init__.py
  weldx/tags/core/generic_series.py
  weldx/tests/asdf_tests/test_asdf_core.py
  weldx/tests/test_core.py
  weldx/tests/test_utility.py
  weldx/util/util.py
  weldx/util/xarray.py
Labels: feature, core, dependencies
