Repository BAMWelDX/weldx, pull requests merged in 2021-03, with the labels that each got.

#251 Update welding examples
  .typo-ci.yml
  CHANGELOG.md
  tests/test_geometry.py
  tests/test_visualization.py
  tutorials/geometry_02_geometry.ipynb
  tutorials/welding_example_01_basics.ipynb
  tutorials/welding_example_02_weaving.ipynb
  weldx/geometry.py
  weldx/transformations.py
  weldx/visualization.py
Labels: geometry, tutorials, visualization

#256 Update weld pass schema
  CHANGELOG.md
  doc/shape-validation.md
  scripts/welding_schema.ipynb
  scripts/welding_schema.py
  setup.cfg
  tests/asdf_tests/test_asdf_validators.py
  weldx/__init__.py
  weldx/asdf/schemas/weldx.bam.de/weldx/datamodels/single_pass_weld-1.0.0.schema.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_shape_validator-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/data_transformation-1.0.0.yaml
  weldx/asdf/tags/weldx/debug/test_shape_validator.py
  weldx/asdf/validators.py
Labels: ASDF

#263 [doc] updated installing instructions
  README.md
  doc/index.rst
Labels: documentation, no-changelog-entry-needed

#269 run static analysis on single python version
  .github/workflows/static_analysis.yml
Labels: CI, no-changelog-entry-needed

#268 modify CSM merge for non datetime subsytems
  CHANGELOG.md
  tests/test_transformations.py
  weldx/transformations/cs_manager.py
Labels: bug, transformations

#248 Compute groove cross sectional area and welding speed
  CHANGELOG.md
  doc/api.rst
  tests/asdf_tests/test_asdf_groove.py
  tests/test_welding_util.py
  tutorials/groove_types_01.ipynb
  weldx/asdf/util.py
  weldx/util.py
  weldx/welding/__init__.py
  weldx/welding/groove/iso_9692_1.py
  weldx/welding/util.py
Labels: KISA

#275 Fix a bug in CSM interp_time
  tests/test_transformations.py
  weldx/transformations/cs_manager.py
Labels: bug, transformations

#270 v0.3.0
  .github/workflows/pytest_asdf.yml
  CHANGELOG.md
  doc/schemas/aws.rst
  doc/standard.rst
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/gas_component-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/shielding_gas_for_procedure-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/shielding_gas_type-1.0.0.yaml
Labels: release

#279 allow inline scalar coordinates/variables
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/core/variable-1.0.0.yaml
  weldx/asdf/tags/weldx/core/common_types.py
Labels: ASDF

#283 update single_pass_weld schema
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/datamodels/single_pass_weld-1.0.0.schema.yaml
Labels: ASDF

#286 allow integer for timeseries to test for issue #282
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/core/time_series-1.0.0.yaml
Labels: ASDF, bug

#274 add ASDF schema examples
  .github/workflows/pytest_asdf.yml
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/gas_component-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/shielding_gas_for_procedure-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/shielding_gas_type-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/file-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/mathematical_expression-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/time_series-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/coordinate_system_hierarchy-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/coordinate_system_hierarchy_subsystem-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/coordinate_transformation-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/local_coordinate_system-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/rotation-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/equipment/generic_equipment-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/DHUGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/DHVGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/DUGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/DVGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/FFGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/HUGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/HVGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/IGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/UGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/UVGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/VGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/groove/iso_9692_1_2013_12/VVGroove-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/data_transformation-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/error-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/signal-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/source-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/process/GMAW-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/process/terms-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/datetimeindex-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/timedelta-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/timedeltaindex-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/timestamp-1.0.0.yaml
  weldx/asdf/tags/weldx/aws/__init__.py
Labels: ASDF, documentation

#287 Pass a missing parameter to the matplotlib implementation of CSM.plot
  weldx/transformations/cs_manager.py
Labels: no-changelog-entry-needed, transformations

#285 Add warning if time is dropped in LCS
  CHANGELOG.md
  tests/test_transformations.py
  weldx/transformations/local_cs.py
Labels: bug, transformations

#290 update binder environment for JupyterLab3 and k3d
  .binder/environment.yml
  .binder/postBuild
Labels: no-changelog-entry-needed

#288 Add plot function for measurement chain
  .github/workflows/static_analysis.yml
  CHANGELOG.md
  weldx/measurement.py
Labels: measurements, visualization

#292 update github docs CI
  .github/workflows/docs.yml
Labels: CI, documentation, no-changelog-entry-needed

#291 Update csm plot graph
  CHANGELOG.md
  weldx/transformations/cs_manager.py
Labels: transformations, visualization

#284 [transformations] use type aliases where appropriate
  doc/conf.py
  doc/nitpick_ignore
  weldx/__init__.py
  weldx/asdf/util.py
  weldx/constants.py
  weldx/core.py
  weldx/geometry.py
  weldx/transformations/cs_manager.py
  weldx/transformations/local_cs.py
  weldx/transformations/rotation.py
  weldx/transformations/types.py
  weldx/transformations/util.py
  weldx/util.py
  weldx/visualization/__init__.py
  weldx/visualization/k3d_impl.py
  weldx/visualization/matplotlib_impl.py
  weldx/visualization/types.py
Labels: no-changelog-entry-needed

#277 189 pintify groove to profile
  CHANGELOG.md
  weldx/welding/groove/iso_9692_1.py
Labels: geometry, task

#293 Add scaling factor
  CHANGELOG.md
  weldx/transformations/cs_manager.py
  weldx/transformations/local_cs.py
  weldx/visualization/matplotlib_impl.py
Labels: visualization

#298 add changelog action
  .github/workflows/changelog.yml
Labels: CI, no-changelog-entry-needed

#295 Add deprecation decorator
  CHANGELOG.md
  tests/test_utility.py
  weldx/util.py
Labels: deprecation, feature

#303 replace $ref when tags are used
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/design/base_metal-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/design/joint_penetration-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/design/weld_details-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/gas_component-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/aws/process/shielding_gas_for_procedure-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/data_array-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/dataset-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/file-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/geometry/spatial_data-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/coordinate_system_hierarchy-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/coordinate_transformation-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/local_coordinate_system-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/transformations/rotation-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/core/variable-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_shape_validator-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/debug/test_unit_validator-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/equipment/generic_equipment-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/data-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/data_transformation-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/error-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/measurement-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/measurement_chain-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/signal-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/measurement/source-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/datetimeindex-1.0.0.yaml
  weldx/asdf/schemas/weldx.bam.de/weldx/time/timedeltaindex-1.0.0.yaml
Labels: ASDF

#308 update schema descriptions
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/datamodels/single_pass_weld-1.0.0.schema.yaml
Labels: ASDF, documentation

#310 try conditional import path
  doc/conf.py
Labels: no-changelog-entry-needed

#299 Coverage notebooks
  .github/workflows/pytest.yml
  .github/workflows/pytest_asdf.yml
  .typo-ci.yml
  codecov.yml
  conda.recipe/meta.yaml
  environment.yml
  pyproject.toml
  setup.cfg
  weldx/asdf/util.py
  weldx/geometry.py
  weldx/measurement.py
  weldx/transformations/cs_manager.py
  weldx/transformations/local_cs.py
  weldx/util.py
Labels: no-changelog-entry-needed

#311 v0.3.2
  CHANGELOG.md
Labels: no-changelog-entry-needed, release

#312 Docs seo
  .github/workflows/pytest.yml
  doc/conf.py
  doc/index.rst
Labels: no-changelog-entry-needed

#315 add keywords
  CHANGELOG.md
  doc/index.rst
Labels: no-changelog-entry-needed

#316 fix required in schema
  CHANGELOG.md
  weldx/asdf/schemas/weldx.bam.de/weldx/datamodels/single_pass_weld-1.0.0.schema.yaml
Labels: ASDF

#318 add unit support to WXRotation
  CHANGELOG.md
  tests/asdf_tests/test_asdf_core.py
  weldx/asdf/tags/weldx/core/transformations/rotation.py
  weldx/transformations/rotation.py
Labels: transformations, units

#322 enforce agg backend during testing (windows)
  .github/workflows/pytest.yml
Labels: CI, no-changelog-entry-needed, tests

#317 Remove rotation_matrix_* functions
  CHANGELOG.md
  tests/_helpers.py
  tests/asdf_tests/test_asdf_core.py
  tests/test_geometry.py
  tests/test_transformations.py
  tutorials/geometry_02_geometry.ipynb
  tutorials/measurement_example.ipynb
  tutorials/transformations_01_coordinate_systems.ipynb
  tutorials/transformations_02_coordinate_system_manager.ipynb
  weldx/geometry.py
  weldx/transformations/__init__.py
  weldx/transformations/rotation.py
Labels: deprecation, transformations

#319 add pytest run to conda build
  conda.recipe/meta.yaml
Labels: CI, no-changelog-entry-needed
