Repository BAMWelDX/weldx, pull requests merged in 2022-01, with the labels that each got.

#676 Prevent circular ImportError meshio
  doc/conf.py
  doc/nitpick_ignore
  doc/rtd_environment.yml
Labels: documentation, no-changelog-entry-needed

#677 add time_series-0.1.1.yaml
  CHANGELOG.rst
  weldx/manifests/weldx-0.1.1.yaml
  weldx/schemas/weldx.bam.de/weldx/core/time_series-0.1.1.yaml
  weldx/tags/core/time_series.py
  weldx/tags/time/time.py
  weldx/tests/asdf_tests/test_asdf_core.py
Labels: ASDF, validation

#689 fix time behavior in tests and filter warnings for pandas 1.4
  setup.cfg
  weldx/tests/test_time.py
Labels: tests, no-changelog-entry-needed

#678 run PEP585 upgrade
  .pre-commit-config.yaml
  doc/nitpick_ignore
  weldx/asdf/cli/welding_schema.py
  weldx/asdf/extension.py
  weldx/asdf/file.py
  weldx/asdf/types.py
  weldx/asdf/util.py
  weldx/asdf/validators.py
  weldx/config.py
  weldx/core.py
  weldx/geometry.py
  weldx/measurement.py
  weldx/tags/aws/design/sub_assembly.py
  weldx/tags/aws/design/weldment.py
  weldx/tags/aws/process/shielding_gas_type.py
  weldx/tags/core/common_types.py
  weldx/tags/core/data_array.py
  weldx/tags/core/graph.py
  weldx/tags/core/time_series.py
  weldx/tags/time/datetimeindex.py
  weldx/tags/time/timedeltaindex.py
  weldx/tags/units/pint_quantity.py
  weldx/tests/asdf_tests/test_asdf_util.py
  weldx/tests/test_geometry.py
  weldx/tests/test_measurement.py
  weldx/tests/test_time.py
  weldx/tests/test_utility.py
  weldx/tests/transformations/_util.py
  weldx/tests/transformations/test_cs_manager.py
  weldx/tests/transformations/test_local_cs.py
  weldx/time.py
  weldx/transformations/cs_manager.py
  weldx/transformations/local_cs.py
  weldx/util/util.py
  weldx/util/xarray.py
  weldx/visualization/colors.py
  weldx/visualization/k3d_impl.py
  weldx/visualization/matplotlib_impl.py
  weldx/welding/groove/iso_9692_1.py
  weldx/welding/processes.py
Labels: no-changelog-entry-needed

#681 Third tutorial: geometry
  CHANGELOG.rst
  doc/tutorials.rst
  tutorials/01_01_introduction.ipynb
  tutorials/01_02_time_dependent_data.ipynb
  tutorials/01_03_geometry.ipynb
  weldx/asdf/file.py
  weldx/geometry.py
Labels: documentation, geometry

#684 Fix failing tests and documentation
  CHANGELOG.rst
  weldx/asdf/cli/welding_schema.py
  weldx/asdf/file.py
  weldx/asdf/util.py
  weldx/tags/debug/test_shape_validator.py
  weldx/tags/debug/test_unit_validator.py
  weldx/tests/asdf_tests/test_asdf_gmaw_process.py
  weldx/tests/asdf_tests/test_asdf_measurement.py
  weldx/tests/asdf_tests/test_asdf_time.py
  weldx/tests/asdf_tests/test_asdf_util.py
  weldx/tests/asdf_tests/test_asdf_validators.py
  weldx/tests/asdf_tests/test_weldx_file.py
  weldx/tests/test_config.py
  weldx/tests/test_geometry.py
  weldx/tests/test_time.py
  weldx/tests/transformations/test_cs_manager.py
  weldx/tests/transformations/test_local_cs.py
  weldx/transformations/cs_manager.py
Labels: bug, documentation, tests
