Repository BAMWelDX/weldx, pull requests merged in 2023-08, with the labels that each got.

#886 import ValidationError from asdf.exceptions
  CHANGELOG.md
  doc/src/conf.py
  doc/src/tutorials/quality_standards.ipynb
  pyproject.toml
  weldx/asdf/file.py
  weldx/asdf/validators.py
  weldx/tests/asdf_tests/installable_quality_standard_check.py
  weldx/tests/asdf_tests/quality_standards_check.py
  weldx/tests/asdf_tests/test_asdf_base_types.py
  weldx/tests/asdf_tests/test_asdf_core.py
  weldx/tests/asdf_tests/test_weldx_file.py
  weldx/tests/test_config.py
Labels: ASDF, dependencies

#887 v0.6.7
  CHANGELOG.md
  CITATION.cff
Labels: no-changelog-entry-needed, release, dependencies

#888 cleanup
  .binder/environment.yml
  .binder/postBuild
  .github/workflows/trigger_binder_build.yml
  MANIFEST.in
  README.md
  doc/src/conf.py
  doc/src/tutorials/01_01_introduction.ipynb
  doc/src/tutorials/01_02_time_dependent_data.ipynb
  doc/src/tutorials/01_03_geometry.ipynb
  doc/src/tutorials/01_04_coordinate_systems.ipynb
  doc/src/tutorials/transformations_02_coordinate_system_manager.ipynb
Labels: no-changelog-entry-needed

#889 update CI
  .github/workflows/build_pkg.yml
  .github/workflows/cancel.yml
  .github/workflows/docs.yml
  .github/workflows/pytest.yml
  .github/workflows/pytest_asdf.yml
  .github/workflows/static_analysis.yml
Labels: CI, no-changelog-entry-needed
