Repository BAMWelDX/weldx, pull requests merged in 2023-04, with the labels that each got.

#861 Fix XArray LCS join
  CHANGELOG.md
  pyproject.toml
  weldx/util/xarray.py
Labels: bug, xarray, dependencies

#864 quantify xarray parameters in MathematicalExpression
  CHANGELOG.md
  pyproject.toml
  weldx/core/math_expression.py
  weldx/tests/asdf_tests/test_asdf_core.py
Labels: bug, ASDF, xarray, units, dependencies

#868 fix LCS time handling for xarray>=2023.4.0
  .github/workflows/build_pkg.yml
  CHANGELOG.md
  weldx/tests/transformations/test_local_cs.py
  weldx/transformations/local_cs.py
  weldx/util/xarray.py
Labels: bug, tests, xarray, transformations, dependencies
