Repository BAMWelDX/weldx, pull requests merged in 2024-11, with the labels that each got.

#896 add Python 3.12 to test
  .github/workflows/pytest.yml
  .github/workflows/static_analysis.yml
  CHANGELOG.md
  pyproject.toml
Labels: dependencies

#949 948 add support to create coordinate systems from homogeneous transformation matrices
  CHANGELOG.md
  weldx/tests/transformations/test_cs_manager.py
  weldx/transformations/cs_manager.py
  weldx/transformations/local_cs.py
  weldx/transformations/types.py
Labels: transformations

#953 v0.6.9
  CHANGELOG.md
  CITATION.cff
  pyproject.toml
Labels: no-changelog-entry-needed, release, dependencies

#955 update pydeps2env
  .github/workflows/pytest.yml
Labels: CI, no-changelog-entry-needed
